html{
    scroll-snap-type: y mandatory;
}

.about-page{
    text-align: left;
    font-size: 30px;
}

.about{
    text-align: left;
    margin-bottom: 36px;
    font-size: 92px;
    font-weight: bold;
}

.subtitle{
    font-size: 52px;
}

div{
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
}
.page{
    background-color: #AFD3E2;
    color: white;
}
.section{
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.name-heading{
    font-size: 92px;
}

.contact-title{
    font-size: 92px;
}

.contact-page{
    font-size: 34px;
}

a:link{
    color: #146C94;
    
}

@media screen and (max-width: 800px){
    .about{
        font-size: 62px;
    }

    .about-page{
        font-size: 15px;
    }

    .contact-title{
        font-size: 62px;
    }
    .contact-page{
        font-size: 18px;
    }
}
