html {
    scroll-snap-type: y mandatory;
}

.about-page {
    text-align: left;
    font-size: 30px;
}

.about {
    text-align: left;
    margin-bottom: 36px;
    font-size: 92px;
    font-weight: bold;
}

.subtitle {
    font-size: 52px;
}

div {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
}

.page {
    background-color: #AFD3E2;
    color: white;
}


.section {
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.name-heading {
    font-size: 92px;
}

.navigation-widget {
    position: fixed; /* Fijo en la pantalla */
    top: 50%; 
    left: 50px; 
    display: flex;
    flex-direction: column; 
}

.dot {
    height: 15px;
    width: 15px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 50%;
    display:  block;
    transition: transform 0.1s ease;
  }

.contact-title {
    font-size: 92px;
}

.dot.activo {
    transform: scale(1.5); /* Ajusta este valor según lo que prefieras */
    transition: transform 0.3s ease; /* Transición suave */
}


.contact-page {
    font-size: 34px;
}

a:link {
    color: #146C94;

}

@media screen and (max-width: 800px) {
    .about {
        font-size: 62px;
    }

    .about-page {
        font-size: 15px;
    }

    .contact-title {
        font-size: 62px;
    }

    .contact-page {
        font-size: 18px;
    }

    .projects-page {
        font-size: 32px;
    }

    .navigation-widget {
        position: fixed; /* Fijo en la pantalla */
        top: 80%;
        left: 45%;
        display: flex;
        flex-direction: column;
        scale: 60%;
    }
}